.info {
    display: flex;
    justify-content: flex-end;
  }
  .info p {
    margin-right: 30px;
  }
  .color {
    color: #35405c;
    font-size: 15px;
  }
  .social-icon {
    text-align: center;
    margin-top: 15px;
  }
  .social-icon ul li {
    list-style: none;
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  
  .social-icon ul li i {
    /* margin: 14px;
     color:#fff; */
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #20bdd1;
    background-color: #e0f8fc;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.5s;
  }
  .header-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #20bdd1;
    background-color: #e0f8fc;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.5s;
  }
  .header-title {
    font-weight: 700;
    color: #02123a;
    font-family: roboto slab, serif;
  }
  
  @media only screen and (max-width: 600px) {
    .info p {
      margin-right: 5px !important;
    }
  }
  