.nav-link {
    margin-right: 10px !important;
    color: #ffffff !important;
    font-size: 18px !important;

}

.navbar-nav li {
    display: flex;
    align-items: center;
}

.regular-button {
    background-color: white !important;
    border: 1px solid white;
    border-radius: 5px;
    color: darkblue;
    font-weight: 600;
}

.log {
    border-radius: 10px;
}

.bg-color {
    background-color: darkblue;
    padding: 15px;
}

.navbar-toggler {
    margin: 0 auto;
    background-color: #ffffff;
}

.carousel-indicators {
    display: none;
}