.footer {
    background-image: url(../../images/footer.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.feature {
    background-color: rgba(0, 0, 139, 0.501);
    padding: 90px 0px 10px 0px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .footer {
        height: 100%;
    }

    .feature {
        height: 100%;
    }
}